@model IEnumerable<OdeToFood.Entities.Restaurant>

@{
    ViewData["Title"] = "Home";
}

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (var restaurant in Model)
    {
        <tr>
            <td>
                <p>@restaurant.Id</p>
            </td>
            <td>
                <p>@restaurant.Name</p>
            </td>
        </tr>
    }

</table>



