@model OdeToFood.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
}

<h2>@Model.CurrentMessageOfTheDay</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                <p>@restaurant.Id</p>
            </td>
            <td>
                <p>@restaurant.Name</p>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
            </td>
        </tr>
    }

</table>



